 /* carousel css start     */
 .carousel{
    height: 270px;
    width: 70%;
    position: relative;
    background-color: rgb(13,6,32);
    margin: auto;
    border: rgb(159,40,41) dashed 2px;
    border-radius: 10px;
    margin-top: 50px;
 }
 .carousel .slideleft{
    
    line-height: 250px;
    text-align: center;
   cursor: pointer;
  
    top: 70px;
   
    margin: auto;
    
    
 }
 .carousel .slideright {
  
   
 
    cursor: pointer; 
    line-height: 250px;
    text-align: center;
   
  
    top: 70px;
 
    margin: auto;
    
 }

 .carousel .slideleft{
    position: absolute;
    left: -90px;

 }
 .carousel .slideright{
    position: absolute;
    right: -90px;
 }
 .carouselbox{
    display: flex;
    
    overflow-x: scroll;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
    
}
.dataslide{
    top: 0;
    margin-top: 20px;
    margin-bottom: 25px;
    
    padding: 5px;
    margin-left: 15px;
    transition: 0.5s ease;
    border-radius: 20px;
}
.dataslide:hover{
        transform: scale(1.07);
              
}
::-webkit-scrollbar{
     display: block;  
}
::-webkit-scrollbar-corner{
    visibility: hidden;
}


/* scroll bar end----------------------------- */
/* footer start-------------------------------- */

.footeroption{
    text-decoration: none;
}

.category{
    display: flex;
    justify-content:center;
    gap: 40px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 0;
    flex-wrap:wrap;
    
    
    
 }
 .bollywood{
    background-image: url(./images/images.jpg);
    width: 220px;
     height: 75px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: transparent;
     transition: 0.5s ease;
     border-radius: 10px;
     border: 2px solid white;
     font-size: large;
     
 }

 /* only for hover */





 @media (min-width:800px) {

    
    
 
 .bollywood:hover{
    color: rgb(159,40,41);
    background-image: url(./images/imagesblr.jpg);
   border: 2px rgb(159,40,41) solid;
    
 }
 .hollywood:hover{
    color: rgb(159,40,41);
    background-image: url(./images/hollywoodblr.jpg);
    border: 2px rgb(159,40,41) solid;
 }
 .webseries:hover{
    color: rgb(159,40,41);
    background-image: url(./images/webblr.jpg);
    border: 2px rgb(159,40,41) solid;
 }
 .local:hover{
    color: rgb(159,40,41);
    background-image: url(./images/localblr.jpg);
    border: 2px rgb(159,40,41) solid;
 }
 .uploads:hover{
    color: rgb(159,40,41);
    background-image: url(./images/uploadblr.jpg);
    border: 2px rgb(159,40,41) solid;
 }
}








 .hollywood{
    background-image: url(./images/hollywood.jpg);
    width: 220px;
     height: 75px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: large;
     color: transparent;
     transition: 0.5s ease;
     border-radius: 10px;
     border: 2px solid white;

 }
 


 .webseries{
    background-image: url(./images/web.jpg);
    width: 220px;
     height:75px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: transparent;
     transition: 0.5s ease;
     font-size: large;
     border-radius: 10px;
     border: 2px solid white;
 }



 .local{
    background-image: url(./images/local.jpg);
    width: 220px;
     height: 75px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: transparent;
     transition: 0.5s ease;
     border-radius: 10px;
     border: 2px solid white;
     font-size: large;
 }
 




 .uploads{
    background-image: url(./images/upload.png);
    width: 220px;
    height: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: large;
     transition: 0.5s ease;
     border-radius: 10px;
     border: 2px solid white;
     color: transparent;
 }
 
 
 
 
 /* footer end------------------------------------------------------------------------------- */
 
 
 
 
 





















 
   
    
    .logo{
        width: 350px;
        margin: auto;
        margin-top: 30px;
        border-bottom: 2px dashed white ;
        padding-bottom: 5px;
    }
   
  
       
            

       
       
      
    
/*midea---------------------------------------------------start----------------------------------------------------------------------------- quary*/



@media (max-width:800px){
.carousel .slideleft{
    display:none;
    }
    .carousel .slideright{
        display: none;
    }
    ::-webkit-scrollbar{
     visibility: hidden;    
}
::-webkit-scrollbar-corner{
    visibility: hidden;
}
::-webkit-scrollbar-track-piece{
   visibility: hidden;
 }
 ::-webkit-scrollbar-thumb{
  visibility: hidden;
    border-radius: 10px;
   cursor: pointer;
 }
 .carousel{
        width: 530px;
        height: fit-content;
        margin-top: 20px;
        
        
    }
    .dataslide{
        width: 500px;
        margin-top: 20px;
         margin-bottom: 0px;
}
.category{
    display: flex;
    justify-content:center;
    gap: 20px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 0;
    flex-wrap:wrap;
    
    
    
 }


 
 .bollywood{
    color: rgb(159,40,41);
    
}
.hollywood{
    color: rgb(159,40,41);
    
}
.local{
    color: rgb(159,40,41);
}
.uploads{
    color: rgb(159,40,41);
}
.webseries{
    color: rgb(159,40,41);
}
.logo{
    width: 250px;
    margin: auto;
    margin-top: 20px;
    border-bottom: 2px dashed white ;
}


}


@media (max-width:715px){
    .logo-image{
        width:200px;
        margin-top: -10px;
    }
    .reg{
        height: 190px;
    }
    li{
        display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
    }
    #menu{
        display: block;
    }
    .nav-non-resp{
        display: none;
        
    }
    .form-Register{
       visibility: visible;
    }

    .logo{
        width: 190px;
    }
   
    }
    

   
 
    

      
    

@media (max-width:560px) {
    .logo{
        width: 200px;
    }
    .carousel{
        width: 450px;
        height: fit-content;
    }
    .dataslide{
        width: 420px;
        margin-top: 20px;
         margin-bottom: 0px;
    }
    
}


@media (max-width:504px) {
    .logo{
        width: 200px;
        margin-top: 20px;
    }
    .carousel{
        width: 370px;
        height: fit-content;
        margin-top: 10px;
    }
    .dataslide{
        width: 340px;
        margin-top: 20px;
         margin-bottom: 0px;
    }
    .carousel .slideleft{
        display: none;
    }
    .carousel .slideright{
        display: none;
    }
  #navigation{
    margin-top: 0;
  }
  .category{
    display: flex;
    justify-content:center;
    gap: 15px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0;
    flex-wrap:wrap;
    
    
    
 }

}

 
    
 
   

@media (max-width:420px){
    .logo-image{width:150px}
    .footer{width: 340px;}
    .reg{height: 145px;}
    .carousel{
        width: 300px;
        height: fit-content;
    }
    .dataslide{
        width: 270px;
        margin-top: 20px;
         margin-bottom: 0px;
    }
     
}
@media (max-width:360px){
    .carouselbox{
        width: 280px;
        height: fit-content;
    }
    .carousel{
        width: 280px;
        height: 175px;
    }
    .dataslide{
        width: 250px;
        margin-top: 15px;
         margin-bottom: 0px;
    }
}

/*midea-------------------------------end------------------------------------------------------------------------------------------------------------- quary*/